@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');


.App {
  background-color: rgb(22, 21, 21) !important;
  font-family: 'Lora', serif !important;
  overflow-x: hidden !important;
}

#para1{
  text-align: justify !important;
}

a{
  text-decoration: none !important;
}

.btn1:hover{
  color: whitesmoke !important;
    background-color: black !important;
    font-weight: bold !important;
}

.btn2:hover{
  font-weight: bolder !important;
}

#heroimg{
  background-image: url("../Images/heroimg.jpg") !important;
}

input:focus{
  outline-color: rgb(255, 183, 0);
}

textarea:focus{
  outline-color: rgb(255, 183, 0);
}

::-webkit-scrollbar{
  width: 7px;
  border-radius:10px !important;
  background-color: rgb(22, 21, 21) !important;
}
::-webkit-scrollbar-track{
  background-color: rgb(14, 12, 12) !important;;
  border-radius: 10px !important;
  z-index: -1 !important;
}
::-webkit-scrollbar-thumb{
  background-color: #2AEBF8;
  border-radius: 10px;
}

.bg-scroll{
  overflow-y: scroll !important;
  height: 70px !important;
}

.med{
  width: 500px !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cards{
  padding: 35px 35px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media(max-width:425px){
  #herotop{
    margin-top: 20px !important;
  }

  #herodown{
    margin-top: 20px !important;
    text-align: center;
    margin-bottom: 30px;
  }

  #hsp{
    display: none !important;
  }

  #sp{
    font-size: 35px !important;
  }

  #loc{
    display: block !important;
  }

  #locs{
    width: 165px !important;
  }

  #homerender{
    width: 150px !important;
  }

  .med{
    width: 282px !important;
  }

  .cards{
    padding:50px 50px !important;
  }
}

@media(max-width:375px){
  .cards{
    padding: 35px 35px !important;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link:hover{
  font-weight: bolder !important;
}

.star-filled {
  color: gold;
  cursor: pointer;
}

.star-empty {
  color: #fff;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}